.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/*.ps1
**/*.sql
**/*.user
**/*.jfm
**/*.txt
**/Dockerfile
**/.dockerignore
**/*.yml
**/*.dbmdl
**/*.scmp
*.md
**/*.sqlproj
**/*.DB_StaticCodeAnalysisSucceededFile
**/*.Results.xml 
**/TestResults/**

**/obj
**/dbo
**/.toolstarget
**/Release
dist