.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/*.cs
**/*.ps1
**/*.sql
**/*.pdb
**/*.user
**/*.jfm
**/*.txt
**/Dockerfile
**/.dockerignore
**/*.yml
**/*.dbmdl
**/*.scmp
*.sln
*.md
**/*.json
**/*.sqlproj
**/*.csproj
**/*.DB_StaticCodeAnalysisSucceededFile
**/*.Results.xml
**/*.dll
*/bin

**/obj
**/dbo
**/.toolstarget
**/*.Tests
**/*.Api
**/*.Abstraction
**/*.Models
**/Release

NRSRx.UI
nurser-ui
**/*.Abstraction
**/*.Api
**/*.Tests